* {
  margin: 0;
  padding: 0;
}
.viteImg {
  width: 300px;
}
#root {
  height: 100vh;
  background-color: rgb(146, 146, 245);
}
.cube{
  width: 100px;
  height: 100px;
  background: black;
  margin: 1px;
  color: white;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}